/* TypingAnimation.css */

.typing-animation {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.15em;
  animation: typing 0.7s steps(40, end), blink-caret 0.7s step-end infinite;
  background-color: #faca6b;
  color: black;
}

/* Responsive styles */
@media only screen and (max-width: 500px) {
  .typing-animation {
    font-size: 14px; /* Adjust font size for small screens */
  }
  .typing-animation-box{
    padding-top:10px;
    height:300px;
  }
  .typing-animation-box p{
    font-size:19px;
    font-weight:normal;
  }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
  .typing-animation {
    font-size: 16px; /* Adjust font size for medium screens */
  }
}

@media only screen and (min-width: 901px) and (max-width: 1027px) {
  .typing-animation {
    font-size: 18px; /* Adjust font size for large screens */
  }
  .typing-animation-box{
    padding-top:50px !important;
 
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
